<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mozilla+Headline:wght@200..700&family=Share+Tech&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=TASA+Orbiter:wght@400..800&display=swap" rel="stylesheet">
  <script>document.documentElement.classList.add('is-loading');</script>

  <!-- Any other shared assets like fonts, favicons, etc -->
</head>
<body class="<%= (typeof isHome !== 'undefined' && isHome) ? 'is-home' : '' %>">

  <%- include('partials/header') %>

  <%- body %> 

  <%- include('partials/footer') %>

  <script src="/js/main.js"></script>
  <% if ((typeof isHome !== 'undefined' && isHome)) { %>
    <script src="/js/home.js"></script>
  <% } %>
</body>
</html>
