<%- include('../partials/header') %>

<h1><%= title %></h1>
<div class="services-list">
  <% services.forEach(service => { %>
    <div class="service-item">
      <h2><%= service.name %></h2>
      <p><%= service.description %></p>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>
